@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

html, body { height: 100%; }

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

a { @apply text-zinc-100; }

::selection { @apply bg-zinc-200 text-zinc-900; }